@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(99% 0 0);
  --foreground: oklch(0% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(0% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(0% 0 0);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(96.1% 0 0);
  --secondary-foreground: oklch(9% 0 0);
  --muted: oklch(96.1% 0 0);
  --muted-foreground: oklch(45.1% 0 0);
  --accent: oklch(96.1% 0 0);
  --accent-foreground: oklch(9% 0 0);
  --destructive: oklch(60.2% 0.245 27.325);
  --destructive-foreground: oklch(98% 0 0);
  --border: oklch(89.8% 0 0);
  --input: oklch(89.8% 0 0);
  --ring: oklch(0% 0 0);
  --chart-1: oklch(51.51% 0.2307 257.85);
  --chart-2: oklch(55.5% 0.2191 306.12);
  --chart-3: oklch(77.21% 0.1991 64.28);
  --chart-4: oklch(63.52% 0.2346 1.01);
  --chart-5: oklch(57.81% 0.1776 147.5);
  --sidebar: oklch(100% 0 0);
  --sidebar-foreground: oklch(0% 0 0);
  --sidebar-primary: oklch(0% 0 0);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(96.1% 0 0);
  --sidebar-accent-foreground: oklch(9% 0 0);
  --sidebar-border: oklch(89.8% 0 0);
  --sidebar-ring: oklch(0% 0 0);
  --header: oklch(99% 0 0);
  --header-foreground: oklch(0% 0 0);
  --footer: oklch(99% 0 0);
  --footer-foreground: oklch(0% 0 0);
  --code: oklch(100% 0 0);
  --code-foreground: oklch(20% 0 0);
  --code-highlight: oklch(95% 0 0);
  --code-number: oklch(50% 0 0);
  --code-selection: oklch(90% 0 0);
  --code-border: oklch(89.8% 0 0);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(100% 0 0);
  --card: oklch(0% 0 0);
  --card-foreground: oklch(100% 0 0);
  --popover: oklch(0% 0 0);
  --popover-foreground: oklch(100% 0 0);
  --primary: oklch(100% 0 0);
  --primary-foreground: oklch(0% 0 0);
  --secondary: oklch(0.21 0.006 285.885);
  --secondary-foreground: oklch(98% 0 0);
  --muted: oklch(9.8% 0 0);
  --muted-foreground: oklch(63.9% 0 0);
  --accent: oklch(9.8% 0 0);
  --accent-foreground: oklch(98% 0 0);
  --destructive: oklch(30.6% 0.245 27.325);
  --destructive-foreground: oklch(98% 0 0);
  --border: oklch(0.24 0 0);
  --input: oklch(0.24 0 0);
  --ring: oklch(83.1% 0 0);
  --chart-1: oklch(51.51% 0.2307 257.85);
  --chart-2: oklch(55.5% 0.2191 306.12);
  --chart-3: oklch(77.21% 0.1991 64.28);
  --chart-4: oklch(63.52% 0.2346 1.01);
  --chart-5: oklch(57.81% 0.1776 147.5);
  --sidebar: oklch(0% 0 0);
  --sidebar-foreground: oklch(100% 0 0);
  --sidebar-primary: oklch(100% 0 0);
  --sidebar-primary-foreground: oklch(0% 0 0);
  --sidebar-accent: oklch(9.8% 0 0);
  --sidebar-accent-foreground: oklch(98% 0 0);
  --sidebar-border: oklch(14.9% 0 0);
  --sidebar-ring: oklch(83.1% 0 0);
  --header: oklch(0% 0 0);
  --header-foreground: oklch(100% 0 0);
  --footer: oklch(0% 0 0);
  --footer-foreground: oklch(100% 0 0);
  --code: oklch(5% 0 0);
  --code-foreground: oklch(80% 0 0);
  --code-highlight: oklch(10% 0 0);
  --code-number: oklch(50% 0 0);
  --code-selection: oklch(15% 0 0);
  --code-border: oklch(0.24 0 0);
  --radius: 0.5rem;
}

@theme inline {
  --font-sans: 'Noto Sans Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
  }
}

@utility typography {
  max-width: 65ch;
  color: var(--color-foreground);

  h1:not(:is(.not-typography, [data-demo]) *) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: 800;
    letter-spacing: var(--tracking-tight);
  }
  h2:not(:is(.not-typography, [data-demo]) *) {
    scroll-margin: calc(var(--spacing) * 20);
    border-bottom: 1px solid var(--color-border);
    padding-bottom: calc(var(--spacing) * 2);
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  h2:not(:is(.not-typography, [data-demo]) *):first-child {
    margin-top: 0;
  }
  h3:not(:is(.not-typography, [data-demo]) *) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  h3:not(:is(.not-typography, [data-demo]) *):first-child {
    margin-top: 0;
  }
  h4:not(:is(.not-typography, [data-demo]) *) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  h4:not(:is(.not-typography, [data-demo]) *):first-child {
    margin-top: 0;
  }
  h5:not(:is(.not-typography, [data-demo]) *) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  h5:not(:is(.not-typography, [data-demo]) *):first-child {
    margin-top: 0;
  }
  h6:not(:is(.not-typography, [data-demo]) *) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  h6:not(:is(.not-typography, [data-demo]) *):first-child {
    margin-top: 0;
  }
  h1:not(:is(.not-typography, [data-demo]) *) + p,
  h2:not(:is(.not-typography, [data-demo]) *) + p,
  h3:not(:is(.not-typography, [data-demo]) *) + p,
  h4:not(:is(.not-typography, [data-demo]) *) + p,
  h5:not(:is(.not-typography, [data-demo]) *) + p,
  h6:not(:is(.not-typography, [data-demo]) *) + p {
    margin-top: 0;
  }
  p:not(:is(.not-typography, [data-demo]) *) {
    line-height: 1.75;
  }
  p:not(:is(.not-typography, [data-demo]) *):not(:first-child) {
    margin-top: calc(var(--spacing) * 6);
  }
  li:not(:is(.not-typography, [data-demo]) *) {
    line-height: 1.75;
  }
  a:not(:is(.not-typography, [data-demo]) *) {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: var(--spacing);
  }
  blockquote:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
    border-left: 2px solid var(--color-border);
    padding-left: calc(var(--spacing) * 6);
    font-style: italic;
  }
  table:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    width: 100%;
    overflow-y: auto;
  }
  table:not(:is(.not-typography, [data-demo]) *) thead tr {
    margin: 0;
    border-top: 1px solid var(--color-border);
    padding: 0;
  }
  table:not(:is(.not-typography, [data-demo]) *) thead tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  table:not(:is(.not-typography, [data-demo]) *) th {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
    font-weight: 700;
  }
  table:not(:is(.not-typography, [data-demo]) *) th[align='center'] {
    text-align: center;
  }
  table:not(:is(.not-typography, [data-demo]) *) th[align='right'] {
    text-align: right;
  }
  table:not(:is(.not-typography, [data-demo]) *) tbody tr {
    margin: 0;
    border-top: 1px solid var(--color-border);
    padding: 0;
  }
  table:not(:is(.not-typography, [data-demo]) *) tbody tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  table:not(:is(.not-typography, [data-demo]) *) td {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
  }
  table:not(:is(.not-typography, [data-demo]) *) td[align='center'] {
    text-align: center;
  }
  table:not(:is(.not-typography, [data-demo]) *) td[align='right'] {
    text-align: right;
  }
  ul:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: disc;
  }
  ul:not(:is(.not-typography, [data-demo]) *) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  ul:not(:is(.not-typography, [data-demo]) *) p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
  ol:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: decimal;
  }
  ol:not(:is(.not-typography, [data-demo]) *) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  ol:not(:is(.not-typography, [data-demo]) *) p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
  pre:not(:is(.not-typography, [data-demo]) *) {
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
    padding: calc(var(--spacing) * 4);
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    overflow-y: auto;
  }
  code:not(pre code):not(:is(.not-typography, [data-demo]) *) {
    position: relative;
    border-radius: var(--radius);
    background-color: var(--color-muted);
    padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    font-weight: 600;
  }
  .lead:not(:is(.not-typography, [data-demo]) *) {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    color: var(--color-muted-foreground);
  }
  .large:not(:is(.not-typography, [data-demo]) *) {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 600;
  }
  .small:not(:is(.not-typography, [data-demo]) *) {
    font-size: var(--text-sm);
    line-height: 1;
    font-weight: 500;
  }
  .muted:not(:is(.not-typography, [data-demo]) *) {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--color-muted-foreground);
  }
  img:not(:is(.not-typography, [data-demo]) *),
  picture:not(:is(.not-typography, [data-demo]) *),
  video:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  picture > img:not(:is(.not-typography, [data-demo]) *) {
    margin-top: 0;
    margin-bottom: 0;
  }
  kbd:not(:is(.not-typography, [data-demo]) *) {
    border-radius: calc(var(--radius) - 2px);
    background-color: var(--color-muted);
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    font-weight: 600;
  }
  hr:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 10);
    margin-bottom: calc(var(--spacing) * 10);
  }
  dl:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  dl:not(:is(.not-typography, [data-demo]) *) dt {
    font-weight: 600;
    margin-top: calc(var(--spacing) * 6);
    letter-spacing: var(--tracking-tight);
  }
  dl:not(:is(.not-typography, [data-demo]) *) dt:first-child {
    margin-top: 0;
  }
  details:not(:is(.not-typography, [data-demo]) *) {
    margin-top: calc(var(--spacing) * 6);
  }
  details:not(:is(.not-typography, [data-demo]) *) summary {
    cursor: pointer;
    font-weight: 600;
    margin-top: calc(var(--spacing) * 6);
    letter-spacing: var(--tracking-tight);
  }
  details:not(:is(.not-typography, [data-demo]) *) p:first-of-type {
    margin-top: calc(var(--spacing) * 2);
  }
  mark:not(:is(.not-typography, [data-demo]) *) {
    background-color: var(--color-yellow-300);
  }
  small:not(:is(.not-typography, [data-demo]) *) {
    font-size: var(--text-xs);
    line-height: 1;
  }

  @media (min-width: 1024px) {
    h1:not(:is(.not-typography, [data-demo]) *) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }
  }
}

@utility story {
  @apply typography mx-auto max-w-3xl pt-5 [&_h1:not(:is(.not-typography,[data-demo])_*)]:text-2xl [&_h2:not(:is(.not-typography,[data-demo])_*)]:text-xl [&_h2:not(:is(.not-typography,[data-demo])_*),&_h3:not(:is(.not-typography,[data-demo])_*)]:border-0 [&_h3:not(:is(.not-typography,[data-demo])_*)]:text-lg;

  h1 + p:not(:is(.not-typography, [data-demo])*):not(:first-child) {
    @apply mt-3;
  }

  p:not(:is(.not-typography, [data-demo]) *):not(:first-child):has(
      + hr + [data-demo]
    ) {
    @apply mt-1;
  }
}
