@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(99% 0 0);
  --foreground: oklch(0% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(0% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(0% 0 0);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(96.1% 0 0);
  --secondary-foreground: oklch(9% 0 0);
  --muted: oklch(96.1% 0 0);
  --muted-foreground: oklch(45.1% 0 0);
  --accent: oklch(96.1% 0 0);
  --accent-foreground: oklch(9% 0 0);
  --destructive: oklch(60.2% 0.245 27.325);
  --destructive-foreground: oklch(98% 0 0);
  --border: oklch(89.8% 0 0);
  --input: oklch(89.8% 0 0);
  --ring: oklch(0% 0 0);
  --chart-1: oklch(51.51% 0.2307 257.85);
  --chart-2: oklch(55.5% 0.2191 306.12);
  --chart-3: oklch(77.21% 0.1991 64.28);
  --chart-4: oklch(63.52% 0.2346 1.01);
  --chart-5: oklch(57.81% 0.1776 147.5);
  --sidebar: oklch(100% 0 0);
  --sidebar-foreground: oklch(0% 0 0);
  --sidebar-primary: oklch(0% 0 0);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(96.1% 0 0);
  --sidebar-accent-foreground: oklch(9% 0 0);
  --sidebar-border: oklch(89.8% 0 0);
  --sidebar-ring: oklch(0% 0 0);
  --header: oklch(99% 0 0);
  --header-foreground: oklch(0% 0 0);
  --footer: oklch(99% 0 0);
  --footer-foreground: oklch(0% 0 0);
  --code: oklch(100% 0 0);
  --code-foreground: oklch(20% 0 0);
  --code-highlight: oklch(95% 0 0);
  --code-number: oklch(50% 0 0);
  --code-selection: oklch(90% 0 0);
  --code-border: oklch(89.8% 0 0);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(100% 0 0);
  --card: oklch(0% 0 0);
  --card-foreground: oklch(100% 0 0);
  --popover: oklch(0% 0 0);
  --popover-foreground: oklch(100% 0 0);
  --primary: oklch(100% 0 0);
  --primary-foreground: oklch(0% 0 0);
  --secondary: oklch(0.21 0.006 285.885);
  --secondary-foreground: oklch(98% 0 0);
  --muted: oklch(9.8% 0 0);
  --muted-foreground: oklch(63.9% 0 0);
  --accent: oklch(9.8% 0 0);
  --accent-foreground: oklch(98% 0 0);
  --destructive: oklch(30.6% 0.245 27.325);
  --destructive-foreground: oklch(98% 0 0);
  --border: oklch(0.24 0 0);
  --input: oklch(0.24 0 0);
  --ring: oklch(83.1% 0 0);
  --chart-1: oklch(51.51% 0.2307 257.85);
  --chart-2: oklch(55.5% 0.2191 306.12);
  --chart-3: oklch(77.21% 0.1991 64.28);
  --chart-4: oklch(63.52% 0.2346 1.01);
  --chart-5: oklch(57.81% 0.1776 147.5);
  --sidebar: oklch(0% 0 0);
  --sidebar-foreground: oklch(100% 0 0);
  --sidebar-primary: oklch(100% 0 0);
  --sidebar-primary-foreground: oklch(0% 0 0);
  --sidebar-accent: oklch(9.8% 0 0);
  --sidebar-accent-foreground: oklch(98% 0 0);
  --sidebar-border: oklch(14.9% 0 0);
  --sidebar-ring: oklch(83.1% 0 0);
  --header: oklch(0% 0 0);
  --header-foreground: oklch(100% 0 0);
  --footer: oklch(0% 0 0);
  --footer-foreground: oklch(100% 0 0);
  --code: oklch(5% 0 0);
  --code-foreground: oklch(80% 0 0);
  --code-highlight: oklch(10% 0 0);
  --code-number: oklch(50% 0 0);
  --code-selection: oklch(15% 0 0);
  --code-border: oklch(0.24 0 0);
  --radius: 0.5rem;
}

@theme inline {
  --font-sans: 'Noto Sans Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
  }
}
